.auth-layout-container {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.side-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  background-color: var(--primary);
  overflow: hidden;
}

.side-background {
  position: relative;
  margin-top: -6.25rem;
  width: 37.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-background .rounded-circle {
  position: absolute;
  width: 16vw;
  top: 50%;
  right: 50%;
  transform: translate(51.1%, -64%);
  height: 16vw;
  border-radius: 50%;
  background-color: var(--dark-primary);
}

.side-background .robot-image {
  z-index: 1;
}

.side-background .robot-image img {
  object-fit: cover;
}

.side-text {
  display: flex;
  margin-top: -4rem;
  flex-direction: column;
  align-items: center;
  color: white;
}

.side-text p {
  font-size: 1.8rem;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

/* Login Form */
.auth-container {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-mid-container {
  margin-top: 10px;
  gap: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 35rem;
}
.auth-heading-text p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-form .input-field {
  padding: 0.1rem 0.4rem;
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(218, 208, 208);
  align-items: center;
  justify-content: space-between;
}
.auth-form label {
  display: flex;
  align-items: center;
}
.user-svg {
  font-size: 1.4rem !important;
}

.auth-form input {
  padding: 0.5em;
  border: none;
  font-size: 1rem;
  color: rgb(166, 157, 157);
  width: 100%;
  outline: 0;
  border: 0;
  margin-left: 0.4rem;
  display: flex;
}

.auth-form label svg {
  font-size: 1.6rem;
}
.auth-form label svg {
  stroke: rgb(166, 157, 157);
}
.eye-icon path {
  fill: rgb(166, 157, 157);
}
.eye-icon {
  font-size: 1.6rem;
}
.click-button button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  border: transparent;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1rem;
}
.click-button button:hover {
  background-color: var(--dark-primary);
}
.auth-options {
  text-align: center;
  color: gray;
  font-size: 1rem;
  margin-top: -20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.auth-options button {
  background-color: white;
  width: 100%;

  color: rgb(23, 162, 184);
  border: 1px solid rgb(23, 162, 184);
  text-align: center;
  text-decoration: none;
  margin-top: 0px;
  padding: 0.8rem;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
}

/* Error in input validation */

.input-field-error-wrapper span {
  font-size: 0.8rem;
  color: var(--error-red);
}
.input-field.error-border {
  border: 1px solid var(--error-red);
}
.show-password-highlight path {
  color: black !important;
  fill: black;
}
.eye-icon {
  cursor: pointer;
}
