.loading-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container img {
  width: 100px;
  animation: rotate 1s linear infinite; /* Updated animation */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Complete one full rotation */
  }
}
